<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/profile/newjobtitle.css}" type="text/css" rel="stylesheet">
    <title>Create new Task</title>
</head>
<body>
<header>
    <!--=================== NAVIGATION Start ============================ -->
    <div th:replace="partials/navbar :: navigation" th:with="org=${org}, user=${user}, activePage=${activePage}, auth=${auth}"></div>




    </div>
    <!--=================== NAVIGATION End ============================ -->
</header>

<main class="container">
    <a th:href="@{'/gantt/' + ${project.getProject_id()}}" style="color:black;">
        <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
    </a>
    <div align="center">
        <div class="col-sm-12">
            <img th:src="@{/images/logo.png/}" style="">
        </div>
<!-- == INSERT NEW TASK == -->
        <form  class="contact w-50" th:action="@{/insert/newTask}" method="post">
            <div class="valid" id="notFilled"></div>

            <input type="text" style="display: none;" name="project_name" th:value="${project.project_name}">

            <h3>Add Task</h3>

            <!-- TASK NAME -->
            <div align="left" class="form-group">
                <label for="taskName">Task Name</label>
                <input class="form-control" id="taskName" type="text"  required name="task_name" placeholder="Task Name">
            </div>

            <!-- TASK DESC -->
            <div align="left" class="form-group">
                <label for="task_Description">Task Description</label><br>
                <textarea class="form-control" id="task_description" required  rows="3" name="task_description" placeholder="Task Description"></textarea>
            </div>

            <!-- TASK START -->
            <div align="left" class="form-group">
                <label for="taskStart">Task Start</label>
                <input class="form-control" id="taskStart" type="date" required  name="task_start" placeholder="Task Start">
            </div>
            <p class="valid" th:text="${'*Warning* Calender year ' + yearNow + ' Only'}"></p>


            <!-- TASK END -->
            <div align="left" class="form-group">
                <label for="taskEnd">Task End</label>
                <input class="form-control" id="taskEnd" type="date" required  name="task_end" placeholder="taskEnd">
            </div>

            <!-- TASK EMPLOYEE -->
            <div class="form-group">
                <label required for="sel1">Select Employee</label>
                <select class="form-control" id="sel1" name="profile_name">
                    <option class="font-weight-bold" disabled> Select One </option>
                    <div th:each="profile : ${profile}">
                        <option th:value="${profile.profile_firstname}" th:text="${profile.profile_firstname + space + profile.profile_lastname}"></option>
                    </div>
                </select>
            </div>

            <!-- TASK GANTT PHASE -->
            <div class="form-group">
                <label for="sel2">Select Gantt Phase</label>
                <select class="form-control" id="sel2" name="ganttPhase_name">
                    <option class="font-weight-bold" disabled> Select One </option>
                    <div th:each="phaseList : ${phaseList}">
                    <option th:value="${phaseList.ganttPhase_name}" th:text="${phaseList.ganttPhase_name}"></option>
                    </div>
                </select>
            </div>

            <!-- TASK JOB TITLE  -->
            <div class="form-group">
                <label for="sel1">Select a Profession</label>
                <select class="form-control" id="sel3" name="jobTitle_name">
                    <option class="font-weight-bold" disabled> Select One </option>
                    <div th:each="jobTitles : ${jobTitles}">
                        <option th:value="${jobTitles.jobTitle_name}" th:text="${jobTitles.jobTitle_name}"></option>
                    </div>
                </select>
            </div>

            <!-- SUBMIT -->
            <input type="submit" value="Save" name="button" class="w-50 btn form-button ml-5 mr-5">
        </form>
    </div>

</main>

<!--=================== Footer ============================ -->


<div th:replace="partials/footer :: footerFragment"></div>


<!--&lt;!&ndash;=================== Footer ============================ &ndash;&gt;-->

</body>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</html>