<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/profile/newjobtitle.css}" type="text/css" rel="stylesheet">
    <title>Edit Your Profile</title>
</head>
<body>
<header>
    <!--=================== NAVIGATION Start ============================ -->
    <div th:replace="partials/navbar :: navigation" th:with="org=${organization}, user=${user}, activePage=${activePage}, auth=${auth}"></div>
    </div>
    <!--=================== NAVIGATION End ============================ -->
</header>

<main class="container">
    <a th:href="@{'/projects/'+${project.getProject_id()}}" style="color:black;">
        <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
    </a>
    <div align="center">

<!-- == INSERT JOBTITLE FORM == -->
        <form class="contact w-50"  th:action="@{/insert/newjobtitle}" th:object="${project}" method="post">
            <h3>Add Jobtitle</h3>

            <input class="text-center p-3 mb-1" type="text" style="display: none;" name="project_id" th:value="${project.project_id}">

            <div class="form-group ml-5 mr-5">
                <input class="form-control" type="text" name="jobTitle_name" placeholder="Job Title">
            </div>
            <div th:if="${error}">
                <p style="color: #ff89af;" th:text="${error}"></p>
            </div>

            <button type="submit" class="w-50 btn form-button ml-5 mr-5">Save</button>
        </form>
    </div>

</main>

<!--=================== Footer ============================ -->


<div th:replace="partials/footer :: footerFragment"></div>


<!--&lt;!&ndash;=================== Footer ============================ &ndash;&gt;-->

</body>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</html>