<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/admin/adminLookUpUser.css}" type="text/css" rel="stylesheet">

    <title>Admin Page</title>
</head>
<body>
    <main class="container">
        <a href="/admin/organization" style="color:black;">
            <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
        </a>
        <div class="row">
            <div class="col-sm mt-5">
                <h1 class="text-center">News</h1>
            </div>
        </div>

        <table class="table mt-5 table-striped table-bordered table-dark table-hover">
            <thead class="thead-dark">
            <a href="#">
                <tr>
                    <th scope="col ">News ID</th>
                    <th scope="col">News</th>
                    <th scope="col">News Title</th>
                    <th scope="col">Datetime</th>
                    <th scope="col">Action</th>
                </tr>
            </a>
            </thead>

<!-- === NEWS LIST === -->
            <tbody>
            <tr align="center" th:each = "news : ${listNewsfeed}">
                <th th:text="${news.newsfeed_id}">News Id</th>
                <th th:text="${news.newsfeed_news}">News</th>
                <td th:text="${news.newsfeed_title}">News Title</td>
                <td th:text="${news.newsfeed_datetime}">Datetime</td>
                <td>
                    <!-- ACTIONS -->
                    <a th:href="@{'/admin/news/edit/' + ${news.getNewsfeed_id()}}" class="mt-3 w-75 btn btn-info">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</body>
<script src="/static/js/admin/adminMain.js"></script>
</html>




