<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main/faq.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="partials/navbar :: navigation" th:with="OneOrg=${OneOrg},user=${user}">



    </div>
</header>
    <!--=================== Container + logo ============================ -->
<div class="container" align="center">
    <div class="col-sm-12" align="center">
        <img th:src="@{/images/logo.png/}" style="">
    </div>
    <form id="contact" action="" method="post" class="w-50">
        <div class="d-flex justify-content-center">
        </div>
        <!--=================== Label ============================ -->
        <h3 style="text-align: center">FAQ</h3>
        <h4></h4>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3"  name="faq" type="submit" id="faq1" data-submit="...Sending">   <details>
                <summary>What Is WeAreGantt ?</summary>
                <p class="text">WeAreGantt is a project calculation tool</p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq2" data-submit="...Sending">   <details>
                <summary>What will i get from using WeAreGantt ?</summary>
                <p class="text">You will get a simple and easy tool to calculate your projects</p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq3" data-submit="...Sending">   <details>
                <summary>How will I get my login information if I forgot them ?</summary>
                <p class="text">Fill out the contact form,submit and we will get back to you</p>
            </details></label>
        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq4" data-submit="...Sending">   <details>
                <summary>Who can I contact if technical issues occur ?</summary>
                <p class="text">Make a support ticket and our support will look into it</p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq5" data-submit="...Sending">   <details>
                <summary>Is my personal information safe ?</summary>
                <p class="text">Your information is saved within a secure database</p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq6" data-submit="...Sending">   <details>
                <summary>Is WeAreGantt Free ?</summary>
                <p class="text">You can choose a 30 days trial</p>
            </details></label>
        </div>

           </form>


</div>
    <!--=================== footer ============================ -->

    <div th:replace="partials/footer :: footerFragment"></div>

</body>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</html>