<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Privacy</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main/privacy.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="partials/navbar :: navigation" th:with="OneOrg=${OneOrg},user=${user}">

</header>
    <!--=================== Container + logo ============================ -->
<div class="container" align="center">
    <div class="col-sm-12" align="center">
        <img th:src="@{/images/logo.png/}" style="">
    </div>
    <form id="contact" action="" method="post" class="w-50">

        <!--=================== Label ============================ -->
        <h3 style="text-align:center">Privacy</h3>
        <h4></h4>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3"  name="faq" type="submit" id="faq1" data-submit="...Sending">   <details>
                <summary>Why does WeAreGantt collect personal data ?</summary>
                <p class="text">We collect the data to improve our website service</p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq2" data-submit="...Sending">   <details>
                <summary>Compliance and cooperation with authorities</summary>
                <p class="text">We frequently update our privacy policy to make sure it complies with the current law </p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq3" data-submit="...Sending">   <details>
                <summary>Protection of personal data</summary>
                <p class="text">We have incorporated security in our service to protect your personal data</p>
            </details></label>
        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq4" data-submit="...Sending">   <details>
                <summary>Edit and delete your profile</summary>
                <p class="text">It is possible to edit and delete your profile at anytime</p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq5" data-submit="...Sending">   <details>
                <summary>Sharing of your personal data</summary>
                <p class="text">We will not share your personal data</p>
            </details></label>

        </div>

    </form>


</div>
</form>
<!--=================== Footer ============================ -->

    <div th:replace="partials/footer :: footerFragment"></div>

</body>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</html>