<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<!--https://codepen.io/Varo/pen/YPmwpQ-->
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/admin/adminChat.css}" type="text/css" rel="stylesheet">


    <title>Admin Page</title>
</head>
<body>
    <main class="container">
        <div class="menu">
            <a href="/profile/support" class="back"><i class="fa fa-angle-left"></i></a>
            <div class="name" th:text="${'Topic : ' + supportTicket.getSupportTicket_title()}"></div>
            <div class="members" th:text="${profile.getProfile_firstname()}"><b>You</b>, Marga, Charo & Brotons</div>
        </div>

    <!--  === CHAT === -->
        <ol th:each="message : ${supportMessageList}" class="chat">
            <li th:class="${message.fk_profileFirstname == profile.profile_firstname ? 'self' : 'other'}">
                <div class="msg">
                    <div class="user"><p th:text="${message.fk_profileFirstname}"></p></div>
                    <div>
                        <p th:text="*{message.message_context}"></p>
                    </div>
                    <p th:text="${message.message_timestamp}"></p>
                </div>
        </ol>

    <!--  === REPLY === -->
        <div class="typezone">
            <form th:action="@{/profile/save/chat}" th:object="${supportTicket}" method="post">
                <input style="display: none;" name="ticket_id" th:value="${supportTicket.getSupportTicket_id()}" type="text">
                <input style="display: none;" name="ticket_ownerMail" th:value="${profile.getProfile_firstname()}" type="text">
                <textarea th:name="message_context" type="text" placeholder="Say something"></textarea>
                <input type="submit" class="send" value=""/>
            </form>
            <div class="emojis"></div></div>
    </main>
</body>
</html>