<footer class="footer mb-5 mt-5" th:fragment="footerFragment" style="margin-top:10%!important;">
    <div class="container" align="center">
        <div class="row w-50" >
            <div class="col-sm" align="center">
                <a href="/contact">Contact</a>
            </div>
            <div class="col-sm" align="center">
                <a href="/faq">FAQ</a>
            </div>
            <div class="col-sm" align="center">
                <a href="/privacy">Privacy</a>
            </div>
        </div>
    </div>
</footer>
