main > div{
    margin-top:20%;
}
.board{
    width:30%;
    background-color:grey;
}
.innerBoard{
    background-color: white; height: 600px;
}
.underLine{
    height: 5px; width: 70%; border-bottom: 2px solid #34d4b1
}
.checkmarkIcon{
    color: #34c776; font-size: 22px;
}
.info{
    font-style: italic; font-size: 15px;
}
.terms{
    text-decoration: underline;
}
#paypal-button01{
    color: green!important;
}
#freebutton{
    background: #009cde;;
    border-radius: 25px;
    border: 2px solid #009cde;;
    height: 33px;
    width: 161px;
    color:white;
    font-weight: bold;
}