.nav-active{
    border-bottom: 2px solid white;
}

.contact {
    background: #707070;
    margin-top:1%;
    padding:25px;
    border-radius: 25px;
}

.contact h3 {
    color: #ffffff;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

.contact h4 {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}
.contact label{
    color: white;
}
.form-button{
    background-color: #34d4b1;
}

.valid{
    background-color: #ff5050;
    border-radius: 25px;
}



