.nav-active{
    border-bottom: 2px solid white;
}

.projectBox{
    background-color:grey; height:300px;
    border-radius: 5%;
    /*cursor: pointer;*/
}
p{
    color:white;
}
h4{
    color:white;
}
a{
    text-decoration: none!important;
}

.buttons {
    background: #34d4b1;;
    border-radius: 10px;
    border: 1px solid black;;
    height: 33px;
    color:black;
    font-weight: bold;
    display: block;
    text-align: center;
}